@import "./utils/variables";
@import "./utils/common";
@import "./utils/visuallny-hidden";
@import "./components/container";
@import "./components/header";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contacts";
@import "./components/banner";
@import "./components/descriptions";
@import "./components/work";
@import "./components/team";
@import "./components/soc-team";
@import "./components/customers";
@import "./components/footer";
@import "./components/address";
@import "./components/footer__social";
@import "./components/subscribe-form";
@import "./components/portfolio-menu";
@import "./components/projects-list";
@import "./components/modal";
@import "./components/button-close";
@import "./components/modal-form";