.banner {
    padding-top: 0;
    padding-bottom: 0;
    background: $baner-background;
    text-align: center;
}

.banner__overlay {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    /* outline: 4px solid green; */
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bannerbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.baner__content {
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner__title {
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.banner__button{
    min-width: 200px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background: var(--accent-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    
}

