.contacts-list {
  display: flex;
  @media screen and(max-width:767px) {
    display: none;
  }
  flex-direction: column;
  @media screen and(min-width:1200px) {
    flex-direction: row;
    margin-left: auto;
  }
}
.contacts {
  @media screen and(max-width:767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and(min-width:1200px) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
}

.contacts-list__link {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts-list__link--top {
  @media screen and(min-width:768px) and(max-width:1199px) {
    padding-top: 21px;
  }
}
.contacts-list__link--bottom {
  @media screen and(min-width:768px) and(max-width:1199px) {
    padding-bottom: 21px;
  }
}

.contacts-list__icon {
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-list__link:hover &,
  .contacts-list__link:focus & {
    fill: var(--accent-color);
  }
}

.contacts-list__icon--envelope-icon {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  @media screen and(min-width:1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contacts-list__icon--smartphone-icon {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  @media screen and(min-width:1200px) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
