.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and(min-width:1200px) {
    flex-flow: row;
  }
}
.customers-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and(min-width:480px) and(max-width:767px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and(min-width:1200px) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  @media screen and(min-width: 480px) {
    width: 210px;
  }
  @media screen and(min-width:768px) {
    width: 226px;
  }

  @media screen and(min-width:1200px) {
    width: 170px;
  }
}

.customers-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers-list__link:hover &,
  .customers-list__link:focus & {
    fill: var(--accent-color);
  }
}
