.footer__social {
    margin-right: 93px;
}

.social__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
}

.social-list {
    display: flex;
    flex-direction: row;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background: var(--accent-color);
        }
}

.social-list__item{
    &:not(:last-child) {
            margin-right: 10px;
        }

}

.social-list__icon {
    fill: $white-bg-color;
}

