.header {
    border-bottom: 1px solid #ececec;
}

.header__flex {
    display: flex;
    align-items: center;
}

.header__nav {
    
    display: flex;
    align-items: center;
   
    @media screen and(min-width:768px)and(max-width:1199px) {
        margin-right: 84px;
    }
 
}
.menu-open-btn{
    display: none; 
    @media screen and(min-width:480px)and(max-width:767px)  {
    border: none;
        background-color: transparent;
        display: block;
        margin-left: auto;
        cursor: pointer;
    }

}

.menu-open-btn:hover .menu-open-btn__icon {
    fill: var(--accent-color);
}
.menu-open-btn:focus .menu-open-btn__icon {
    fill: var(--accent-color);
}
.menu-close-btn {
    position: absolute;
border: none;
background-color: transparent;
display: block;
margin-left: auto;
cursor: pointer;
padding: 0;
top: 10px;
right: 15px;
   

}
.menu-close-btn:hover .menu-close-btn__icon {
    fill: var(--accent-color);
}

.menu-close-btn:focus .menu-close-btn__icon{
    fill: var(--accent-color);
}

