.mob-menu-contacts-list {
  margin-left: 40px;
  margin-bottom: 64px;
}

.mob-menu-contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.mob-menu-contacts-list__item:last-child .mob-menu-contacts-list__link {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.mob-menu-contacts-list__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;
}
