.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 528px;
    min-height: 581px;
    transform: rotate(360deg) translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: $white-bg-color;
    transition: transform 600ms, opacity 2000ms;
    .backdrop.is-hidden & {
            transform: rotate(0) scale(0.3);
            opacity: 0.1;
        }
}
.modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-header-color);
}