.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // position: relative;
  // margin-right: auto;
  // margin-left: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 100%;
  // min-height: 609px;
  // max-width: 450px;
  border-radius: 4px;
  background: $white-bg-color;

  .backdrop.is-hidden & {
    transform: rotate(0) scale(0.3);
    opacity: 0.1;
  }
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%) scale(1);
    transition: transform 600ms, opacity 2000ms;
  }
  @media screen and(min-width:1200px) {
    width: 528px;
    min-height: 581px;
    transform: rotate(360deg) translate(-50%, -50%) scale(1);
    transition: transform 600ms, opacity 2000ms;
  }
}
.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
  @media screen and(min-width:1200px) {
    line-height: 1.15;
  }
}
