.modal__modal-form {
    margin-right: auto;
    margin-left: auto;
}

.modal__form-field{
    &:not(:last-child) {
            margin-bottom: 10px;
        }
}

.modal__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}

.modal__input {
    width: 100%;
    height: 40px;
    display: block;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--accent-color);
        }
}







.modal__textarea {
    padding: 12px 16px;
    height: 120px;
    width: 100%;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--accent-color);

        }
    &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}



.modal__position {
    position: relative;
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--main-header-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__input:focus+& {
            fill: var(--accent-color);
        }
}

.modal__agreement-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal__modal-form-but {
    display: block;
    margin: auto;
}

.modal__agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.modal__agreement-two {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &::after {
            width: 100%;
            height: 1px;
            background-color: var(--accent-color);
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &::after {
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}
}

.modal__agreement-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100%;
    margin-bottom: 30px;
}



.modal__agreement-check-box {
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-header-color);
    border-radius: 2px;
    background-color: transparent;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__agreement-checkbox:checked+.modal__agreement-check-field & {
            border: none;
        }
        .modal__agreement-checkbox:focus+.modal__agreement-check-field & {
            border-color: var(--accent-color);
        }
}

.modal__icon-checked {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__agreement-checkbox:checked+.modal__agreement-check-field & {
            fill: var(--accent-color);
        }
}





.modal__agreement-position {
    position: relative;
}

