.nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list {
    margin-left: 93px;
}

.nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__item {
    position: relative;
    &:not(:last-child) {
            margin-right: 50px;
        }
}


.nav-list__link--curent {
    color: var(--accent-color);
    &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background: var(--accent-color);
        }
}