.portfolio-projects__menu-list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  @media screen and(min-width:768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and(min-width:1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.menu-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
  background: var(--sec-background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.menu-list__item {
  @media screen and(max-width:767px) {
    margin-bottom: 21px;
  }

  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
