.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: $white-bg-color;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.projects-list__thumb {
    overflow: hidden;
    position: relative;
}

.projects-list__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.projects-list__parag {
    margin-top: 0;
    margin-bottom: 0;
    padding: 63px 24px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-text-color;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .projects-list__item:hover & {
            opacity: 1;
            transform: translateY(0);
        }
}

.projects-list__wrapper {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.projects-list__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-header-color);
}

.projects-list__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}