.soc-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.soc-list__item{
  &:not(:last-child) {
      margin-right: 10px;
    }
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: $white-bg-color;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
    &:focus {
      background: var(--accent-color);
    }
}


.soc-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .soc-list__link:hover &,
    .soc-list__link:focus & {
      fill: $white-bg-color;
    }
}
