.team {
  background: var(--sec-background-color);
}

.team-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list {
  @media screen and(min-width:678px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  background: $white-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 354px;
    margin-right: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and(min-width:1200px) {
    width: 270px;
    margin-bottom: 0;
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
