.work {
    padding-top: 0;
}

.work-list {
    display: flex;
}

.work-list__item {
    width: 370px;
    margin-right: 30px;

    &:last-child {
            margin-right: 0;
        }
}



.work-list__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work-list__caption {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);

    bottom: 0;
    left: 0;
}

.work-list__tumb {
    position: relative;
}