:root {
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --main-header-color: #212121;
    --main-background-color: #e5e5e5;
    --sec-background-color: #f5f4fa;
    --white-text-color: #ffffff;
    --main-font: "Roboto";
    --alt-main-font: "sans-serif";
    --second-font: "Raleway";
}
$baner-background: #2f303a;
$white-text-color: #ffffff;
$white-bg-color: #ffffff;

